@import url("https://ozone-ui.netlify.app/Docs/doc.css");
@import url("https://the-sports-adda.netlify.app/index.css");



.margin-top {
  margin: 1rem 0rem;
}
* {
  font-family: 'Times New Roman', Times, serif;
  --primary-btn-hover-color:  tomato;
  --secondary-btn-hover-color:  #363e66;
}
.nav-item-count {
  position: absolute;
  top:-0.8rem;
  right:-0.6rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  color: var(--white-clr);
  font-size: 1rem;
  padding: 0.2rem;
  width: 1.5rem;
  text-align: center;
}
.nav-item {
  position: relative;
}
.nav-search {
  font-size: 1.3rem;
}