@import url("https://ozone-ui.netlify.app/Docs/doc.css");
@import url("https://the-sports-adda.netlify.app/index.css");



.margin-top {
  margin: 1rem 0rem;
}
* {
  font-family: 'Times New Roman', Times, serif;
  --primary-btn-hover-color:  tomato;
  --secondary-btn-hover-color:  #363e66;
  --nav-bg-color:#2a304a;
}

